<h1 id="pageTitle">Chicano/a Art Final</h1>

{{!-- Image banner here --}} 
<img class="img1" src="images/Chicano-Art.jpg">

<h2>The Methodological Tools</h2>

 <ol>
     <li>In Lak Ech</li>
     <li>Panche Be</li>
     <li>Critical Race Theory</li>
     <li>Counter-Story Telling</li>
 </ol>

 <br>
 <div class="tool">
    <h3>In Lak Ech</h3>
    <p>This methodological tool seek to re-humanize people.
        This phrase comes from a beautiful Mayan tradition that can be traced across the globe.
        In Lak Ech means "I am you, and you are me". It originates from the Mayan understanding
        of a human being the 'vibrant one'.
    </p>
 </div>
 <div class="tool">
     <h3>Panche Be</h3>
     <p>This methodological tool deals in seeking the root of the truth or to find 
        to find the truth in the root. The words come from the Mayan culture.
        It is also the search for profound knowledge, knowledge that is usually hidden 
        and that invariably leads one to pursue social justice 
     </p>
 </div>
 <div class="tool">
     <h3>Critical Race Theory</h3>
     <p>The third tool aims to provide a critical analysis of race and racismf rom a 
        legal point of view. CRT for short recognizes that racism is engrained in the
     fabric and system of American society. These power structures perpetuate the 
     marginalized people of color.      
     </p>
 </div>
 <div class="tool">
     <h3>Counter-Story Telling</h3>
     <p>
         This last tool stems from CRT. This method deals with "telling the stories
         of those people whose experiences are not often told". Counter-stories can be
         used to expose, analyze, as well as challenge the deeply-entrenched narratives.
         This tool puts a human face to the experiences of often-marginalized groups.
     </p>
 </div>

<a href="/myevaluation"><button>My Evaluation</button></a>
