<h1>My Evaluation</h1>

<p>Using a couple of the methodolgical tools I will evaluate a peice of 
   Chicano/a art. 
</p>
<img src="/images/banner.jpg" alt="pic">


<div>
    <p>
        This peice of art was mad by Mel Casas in the 1970's.
        It is well known for the Chicano theme and Chicano Icoognraphy of United 
        farm workers.
    </p>
</div>