<h1>My Evaluation</h1>

<p>Using a couple of the methodolgical tools I will evaluate a peice of 
   Chicano/a art. 
</p>
<img class="img2" src="/images/banner.jpg" alt="pic">


<div>
    <p>
        This peice of art was made by Mel Casas in the 1970's.
        It is well known for the Chicano theme and Chicano Icoognraphy of United 
        farm workers. I will be using a few of the methodological tools to evaluate 
        Casas art. Using Panche Be and seeking the root of the truth I see that workers 
        in the painting are hard workers. Plowing the field in the rising morning sun 
        and all throughout the day. The mainstream sterotype is Chicanos are lazy. This painting
        disrupts that narrative by showing how hard immigrant people work. Using counter story
        telling the workers are bent over because of the short-handled hoe. The immigrant workers 
        didnt have a choice and were forced to work in hunched over appauling conditions. The short-handled
        hoe was eventually outlawed by proof of medical evidence and dibilataing back injuries but 
        the people who suffered from these conditions didnt receive workers compensation or medical coverage
        for their work induced injuries. Last but not least we can use In Lak Ech to re-humanize immigrant workers.
        The rising sun in the back symbolizes a new day and welcoming change. The sun is emboided with the 
        United Farm Workers emblem. The UNF began in 1962 by Cesar Chavez and is the nation’s first enduring and largest farm workers union. 
        The goal of the UFW is to actively ingage in legislative and regulatory reforms for farm workers covering issues such as worker protections, pesticides and immigration reform.
        Through the work done by the UNF we can start to spread Integrity, Si Se Puede Attitudes, Dignity, and Inovation ideologies which in return will
        start to re-humanize the population.
    </p>
</div>

<a href="/yourturn">Your Turn</a>