<h1>Now its your turn</h1>


<textarea id="getData" cols="50" rows="10" maxlength="350" required placeholder="Your thought here!"></textarea>

<a href="/replies">See all replies</a>

<button onclick="submitData()">Submit</button>