<h1>Now its your turn</h1>


<img src="images/Spanish-kitchen.jpeg">
<h3>Analyze the image above andsubmit your response. Use atleast one methodological tool!!</h3>

<textarea id="getData" cols="50" rows="10" maxlength="350" required placeholder="Your thought here!"></textarea>

<button onclick="submitData()">Submit</button>
<a href="/replies"><button>See all replies</button></a>